@{
    ViewData["Title"] = "Failure";
}

<h1 class="text-center">В процессе добавления/изменения/удаления произошли ошибки. Попробуйте еще раз.</h1>
<div>
    <a asp-action="Index">Вернуться назад</a>
</div>
